target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/dist/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/fuzzresults_lessons/fuzz3_filetypes/custom_maps/FilePermission_None_sample.map
/fuzzresults_lessons/fuzz3_filetypes/custom_maps/custom_maps_ignored/FileEncryption.txt
/fuzzresults_lessons/fuzz3_filetypes/custom_maps/custom_maps_ignored/FileCorruption_Encoded.txt
/fuzzresults_lessons/fuzz3_filetypes/custom_maps/custom_maps_ignored/FileSize_Massive.txt
/node_modules/
/fuzzresults_lessons/fuzz3_filetypes/custom_maps/custom_maps_ignored/